.menu-item {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333333;
    margin: 0 7.5px 15px;
    overflow: hidden;
    
    &:hover {
        cursor: pointer;

        & .menu-background {
            transform: scale(1.2) translate(20px,20px) rotate3d(0,1,0,15deg);
            transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }

        & .content {
            background-color: rgba(222, 222, 255, 0.9)
        }
    }

    &.large {
        height: 380px;
    }

    &:first-child {
        margin-right: 7.5px;
    }

    &:last-child {
        margin-left: 7.5px;
    }

    .content {
        height: 90px;
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #333333;
        background-color: rgba(255, 255, 255, 0.6);
        position: absolute;
    }

    .menu-background {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }

    .title {
        font-family: museo-slab, serif;
        font-weight: bold;
        margin-bottom: 6px;
        font-size: 22px;
        color: #4a224a;
        text-transform: uppercase;
    }

    .subtitle {
        font-family: museo-sans, sans;
        font-weight: lighter;
        font-size: 16px
    }
}